 html { 
     -webkit-filter: grayscale(100%); 
     -moz-filter: grayscale(100%);  
     -ms-filter: grayscale(100%);  
     -o-filter: grayscale(100%);   
     filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);     
     _filter:none; 
      } 