/*
    Name:     Kimbie (dark)
    Author:   Jan T. Sott
    License:  Creative Commons Attribution-ShareAlike 4.0 Unported License
    URL:      https://github.com/idleberg/Kimbie-highlight.js
*/

/* 新添加的內容
  ------------------------------------- 
  --hl-color                  代碼框字體顔色 【必須】 (把下面.hljs的 color複製到這裏來)
  --hl-bg                     代碼框背景色 【必須】 (把下面.hljs的 background複製到這裏來)
  --hltools-bg: #321a0f       代碼框頂部工具欄背景色 【可選】(如果你關掉了 copy、lang 和 shrink,可不用配置這個）
  --hltools-color: #fff       代碼框頂部工具欄字體顔色 【可選】(如果你關掉了 copy、lang 和 shrink,可不用配置這個）
  --hlnumber-bg: #221a0f      代碼框行數背景色 【可選】(如果已經關掉 line_number,可以不用配置這個)
  --hlnumber-color: #fff      代碼框行數字體顔色 【可選】 (如果已經關掉 line_number,可以不用配置這個)
  --hlscrollbar-bg: #d3af86   代碼框滾動條顔色 【可選】（默認為主題主顔色）
  --hlexpand-bg: #d3af86      代碼框底部展開背景色 【可選】(如果已經關掉 highlight_height_limit,可以不用配置這個)
*/

:root {
    --hl-color: #011627;
    --hl-bg: #011627;
    --hltools-bg: #000000;
    --hltools-color: #ffffff;
    --hlnumber-bg: #011627;
    --hlnumber-color: #ffffff;
    --hlscrollbar-bg: #011627;
    --hlexpand-bg: #011627;
  }
  
  /* Kimbie Comment */
  .hljs-comment,
  .hljs-quote {
    color: #8f9092;
  }
  
  /* Kimbie Red */
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-meta {
    color: #7ed9c9;
  }
  
  /* Kimbie Orange */
  .hljs-number,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params,
  .hljs-deletion,
  .hljs-link {
    color: #ffffff;
  }
  
  /* Kimbie Yellow */
  .hljs-title,
  .hljs-section,
  .hljs-attribute {
    color: #ffffff;
  }
  
  /* Kimbie Green */
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition {
    color: #ecc48d;
  }
  
  /* Kimbie Purple */
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-function {
    color: #d79aff;
  }
  
  /* 更改的內容 把.hljs改為 #article-container figure.highlight .hljs *、
  /* ------------------------------------- */
  #article-container figure.highlight .hljs {
    display: block;
    overflow-x: auto;
    background: #011627;
    color: #82aaff;
    padding: 0.5em;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }