@font-face{
    font-family: 'HarmonyOS';
    src: local('HarmonyOS'),
    url('https://npm.elemecdn.com/zkeq-font@1.0.0/HarmonyOS.ttf') format('truetype');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
  }

@font-face{
  font-family: 'Hack';
  src: local('Hack'),
  url('https://s-gz-2220-icodeq.oss.dogecdn.com/hack-regular-webfont.woff2') format('truetype');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

  .search-result {
    margin: 0 0 8px;
  }