@font-face{
    font-family: 'HarmonyOS';
    src: local('HarmonyOS'),
    url('https://unpkg.zhimg.com/zkeq-font@1.0.0/HarmonyOS.ttf') format('truetype');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
  }

  .search-result {
    margin: 0 0 8px;
  }