link(rel='stylesheet' href=url_for(theme.asset.aplayer_css) media="print" onload="this.media='all'")
script(src=url_for(theme.asset.aplayer_js))
script var meting_api='http://meting.icodeq.com/api?server=:server&type=:type&id=:id&auth=:auth&r=:r';
script(src=url_for(theme.asset.meting_js))